#list li {
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    list-style-type: none;
    margin-left: -35px;
    height: 20px;
    margin-top: 5px;
    padding: 5px;
}

.complete {
    float: left;
    color: black;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: -3px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    background-color: green;
}

/* Close button */
.close {
    float: right;
    color: red;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: -1px;
    cursor: pointer;
    border: 1px solid black;
}

.close:hover {
    background-color: red;
    color: white;
}